<footer class="footer">
	<small>
		Built by <a href="http://www.memes.at/faces/got_a_badass_full.jpg">Scott Fey</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://news.railstutorial.org">News</a></li>
		</ul>
	</nav>
</footer>	